This notebook was designed by Dr. Guillaume Lemaitre

Jupyter Notebooks (useful keyboard shortcut)
==================

A notebook consists in a set of cells. These cells are interpreted either as text instruction (i.e. **markdown**) or as Python **code**.

* Each cell can be edited using ``[Enter]`` key (i.e. *edit mode*). To return to the *navigation mode*, use the ``[Esc]`` key.

* To switch change a cell to a Python code cell, go in navigation mode and the press ``[y]`` key. Similary, to change a cell to a markdown cell, press the ``[m]`` key.

* You can run a cell by pressing ``[shift] + [Enter]`` or by pressing the "play" button in the menu.

![](../figures/ipython_run_cell.png)

* You can get help on a function or object by pressing ``[shift] + [tab]`` after the opening parenthesis ``function(``

![](../figures/ipython_help-1.png)

* You can also get help by executing ``function?``

![](../figures/ipython_help-2.png)

Some useful keyboard shortcut (*you need to be in navigation mode*):

* Add a cell above the current cell -> press ``[a]``
* Add a cell below the current cell -> press ``[b]``
* Select several cells -> hold ``[Shift]`` + arrow ``[up]`` or ``[down]``
* Remove the selected cell(s) -> press ``[dd]``
* Copy the selected cell(s) -> press ``[c]``
* Cut the selected cell(s) -> press ``[x]``
* Paste the copy/cut cell(s) -> press ``[v]``

In [1]:
import numpy as np
#np.mean?

# Introduction to Python

We introduce here the Python language. Only the bare minimum
necessary for getting started with Numpy and Scipy is addressed here.
To learn more about the language, consider going through the
excellent tutorial http://www.scipy-lectures.org/intro/index.html. Dedicated books
are also available, such as http://www.diveintopython.net/.

Python is a **programming language**, as are C, Fortran, BASIC, PHP,
etc. Some specific features of Python are as follows:

* an *interpreted* (as opposed to *compiled*) language. Contrary to e.g.
C or Fortran, one does not compile Python code before executing it. In
addition, Python can be used **interactively**: many Python
interpreters are available, from which commands and scripts can be
executed.

* a free software released under an **open-source** license: Python can
be used and distributed free of charge, even for building commercial
software.

* **multi-platform**: Python is available for all major operating
systems, Windows, Linux/Unix, MacOS X, most likely your mobile phone
OS, etc.

* a very readable language with clear non-verbose syntax

* a language for which a large variety of high-quality packages are
available for various applications, from web frameworks to scientific
computing.

* a language very easy to interface with other languages, in particular C
and C++.

* Some other features of the language are illustrated just below. For
example, Python is an object-oriented language, with dynamic typing
(the same variable can contain objects of different types during the
course of a program).


See https://www.python.org/about/ for more information about
distinguishing features of Python.

## 0. Hello world

you type in the cells, execute commands with shift + Enter

you can add whatever you want

In [4]:
print("Hello world")

Hello world
Hello lagi

In [4]:
from sklearn.ensemble import RandomForestClassifier

In [5]:
c = RandomForestClassifier?

In [ ]:
c = RandomForestClassifier

In [6]:
c = RandomForestClassifier

In [3]:
c = RandomForestClassifier

# 1. Basic types

## 1.1. Integers

In [7]:
1+1

2

We can assign values to variables with `=`

In [8]:
a = 4.5

In [9]:
type(a)

float

Note that one does not declare the type of a variable before assigning its value. 
In C, conversely, one should write:
```C
int a = 4;
```

## 1.2 Floats

There exists a floating point type that is created when the variable has decimal values:

In [10]:
c = 2.1
c

2.1

In [11]:
type(c)

float

64 bit. double

This gives a different result when using `Python 2` and `Python 3`

In [12]:
1 / 2, 1. /2

(0.5, 0.5)

NB: this uses an object that we'll discover later, the `tuple`

In [13]:
t = 2*3, 4.
type(t)

tuple

## 1.3. Boolean
Similarly, boolean types are created from a comparison:

In [14]:
3 > 4

False

In [15]:
type(True)

bool

In [16]:
test = (3 > 4)

In [17]:
type(test)

bool

NB: A Python shell can therefore replace your pocket calculator, with the basic arithmetic operations ``+``, ``-``, ``*``, ``/``, ``%`` (modulo) natively implemented

## 1.4. Type conversion (casting)

In [18]:
a = 1
type(a)

int

In [19]:
b = float(a)
type(b)

float

In [20]:
float('2.1')
#konversi string ke float

2.1

In [21]:
a, b

(1, 1.0)

In [22]:
a == b

True

In [23]:
a is b

False

In [24]:
a = 0

In [25]:
a == 0

True

In [26]:
a is False

False

In [27]:
x = (1.0 + 0.1 - 1.0)

In [28]:
y = (1.0 - 1.0 + 0.1)

In [29]:
x == y

False

In [30]:
# perbandingan nilai float
abs(x - y) < 1e-10

True

In [31]:
(1.0 + 0.1 - 1.0) == (1.0 - 1.0 + 0.1)

False

In [32]:
abs((1.0 + 0.1 - 1.0) - (1.0 - 1.0 + 0.1)) < 1e-10

True

#  2. Containers

Python provides many efficient types of containers, in which collections of objects can be stored. The main ones are `list`, `tuple`, `set` and `dict`

## 2.1. Tuples

In [33]:
tt = ('truc', '3.14')
tt

('truc', '3.14')

In [34]:
## error, karena sort() akan memindahkan nilai dalam tuple, which is forbidden
# immutable
tt.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [35]:
#immutable, value ga boleh diganti !!
tt[0] = 'test coba diganti isinya'

TypeError: 'tuple' object does not support item assignment

In [36]:
tt_list = ['truc', 3.14]
tt_list

['truc', 3.14]

In [37]:
tt_list.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [38]:
tt[0]

'truc'

You can't change a tuple, we say that it's *immutable*

In [39]:
tt[0] = 1

TypeError: 'tuple' object does not support item assignment

In [40]:
a = 2
a_list = [ a, 3]

In [41]:
a_list

[2, 3]

In [42]:
a = 3
a_list

[2, 3]

In [43]:
# fungsi return tuple
def func():
    return(1,2)

In [44]:
func()

(1, 2)

In [45]:
x = func()

In [46]:
x

(1, 2)

In [47]:
y,z = func()

In [48]:
y

1

In [49]:
z

2

In [50]:
x =[1,2,3]

In [51]:
# x adalah list, mutable
x[0]=4

In [52]:
x = (1,2,3,[3,4,5])

In [53]:
x[-1] += 10

TypeError: 'int' object is not iterable

In [54]:
#mencoba menggabungkan list. Tapi karena tuple bersifat immutable, maka operasi ini forbidden
x[-1] += [5,6]

TypeError: 'tuple' object does not support item assignment

## 2.1. Lists

A list is an ordered collection of objects, that may have different types. For example:

In [55]:
colors = ['red', 'blue', 'green', 'black', 'white']

In [56]:
type(colors)

list

nilai list disimpan sebagai reference/pointer, sehingga dalam suatu list bisa terdapat berbagai macam tipe

In [57]:
x = ['asdvbasdf',1,2.0]
x

['asdvbasdf', 1, 2.0]

Indexing: accessing individual objects contained in the list::

index -1 dimulai dari belakang

In [58]:
colors[2]

'green'

WARNING: **Indexing starts at 0** (as in C), not at 1 (as in Fortran or Matlab).

Counting from the end with negative indices:

In [59]:
colors[-2]

'black'

In [60]:
colors

['red', 'blue', 'green', 'black', 'white']

In [61]:
colors[10]

IndexError: list index out of range

In [62]:
len(colors)

5

In [63]:
colors[1] = 'purple'

Afficher la liste

In [64]:
# Afficher la liste
colors

['red', 'purple', 'green', 'black', 'white']

In [65]:
colors.sort()

In [66]:
colors

['black', 'green', 'purple', 'red', 'white']

In [67]:
x + x

['asdvbasdf', 1, 2.0, 'asdvbasdf', 1, 2.0]

In [68]:
colors.__'

SyntaxError: EOL while scanning string literal (<ipython-input-68-bf0aa2b330bc>, line 1)

In [69]:
varx = 'abc'
vary = 'def'

In [70]:
hasil = varx.__add__(vary)
hasil

'abcdef'

In [71]:
varx.__abs__()

AttributeError: 'str' object has no attribute '__abs__'

In [72]:
h = 1 + 1.5
h

2.5

In [73]:
#x.__add__?
z = 'xxxxxx'
z += 'yyyyyy'
z
#z.add(z)
#add(z,z)
z.__add__

In [74]:
colors

['black', 'green', 'purple', 'red', 'white']

In [75]:
colors2 = colors
colors2.sort(reverse = True)
colors2

['white', 'red', 'purple', 'green', 'black']

In [76]:
colors

['white', 'red', 'purple', 'green', 'black']

In [77]:
colors2 = colors.copy()

In [78]:
colors.sort()
colors

['black', 'green', 'purple', 'red', 'white']

In [79]:
colors2

['white', 'red', 'purple', 'green', 'black']

In [80]:
colors3 = list(colors2)
colors3.sort()
colors2

['white', 'red', 'purple', 'green', 'black']

## 2.2. Slicing: obtaining sublists of regularly-spaced elements

In [81]:
colors

['black', 'green', 'purple', 'red', 'white']

In [82]:
slice?

In [83]:
# kode berikut sama dengan kode di bawahnya.
colors[slice(1,5,2)]

['green', 'red']

In [84]:
colors[1:5:2]

['green', 'red']

**Slicing syntax**: ``colors[start:stop:stride]``

NB: All slicing parameters are optional

In [85]:
colors

['black', 'green', 'purple', 'red', 'white']

In [86]:
colors[3:]
#colors[3:None:None]

['red', 'white']

In [87]:
colors[:3]

['black', 'green', 'purple']

In [88]:
colors[::2]

['black', 'purple', 'white']

In [89]:
colors[2:0:-1]

['purple', 'green']

In [90]:
colors[7:8]

[]

## 2.3. Strings

Different string syntaxes (simple, double or triple quotes):

In [91]:
s = 'asdfdfdf'
type(s)

str

In [92]:
s = "asdfdfd"
#string bersifat immutable

In [93]:
#kode berikut akan error
s[0] = b

TypeError: 'str' object does not support item assignment

In [94]:
s = """asdfadsf
asdfdf 
asdfdf 
"""

In [95]:
s

'asdfadsf\nasdfdf \nasdfdf \n'

In [96]:
s.__repr__()

"'asdfadsf\\nasdfdf \\nasdfdf \\n'"

In [97]:
print(s.__str__())

asdfadsf
asdfdf
asdfdf

In [98]:
print(s)

asdfadsf
asdfdf
asdfdf

In [99]:
len(s)

25

In [100]:
list(s)

['a',
 's',
 'd',
 'f',
 'a',
 'd',
 's',
 'f',
 '\n',
 'a',
 's',
 'd',
 'f',
 'd',
 'f',
 ' ',
 '\n',
 'a',
 's',
 'd',
 'f',
 'd',
 'f',
 ' ',
 '\n']

In [101]:
s.upper()

'ASDFADSF\nASDFDF \nASDFDF \n'

In [102]:
s.strip

In [103]:
s.strip().split()

['asdfadsf', 'asdfdf', 'asdfdf']

In [104]:
s_list = s.strip().split("\n")
s2_list = s_list
s_list[2]

'asdfdf'

In [105]:
s_list[2:3]

['asdfdf']

In [106]:
s[3:10]

'fadsf\na'

In [107]:
s + ' coucou'

'asdfadsf\nasdfdf \nasdfdf \n coucou'

In [108]:
s.title()

'Asdfadsf\nAsdfdf \nAsdfdf \n'

In [109]:
x = 'abcd'

In [110]:
x.__contains__('a')

True

In [111]:
'a' in x

True

In [112]:
x

'abcd'

## 2.4 Dictionaries

A dictionary is basically an efficient table that **maps keys to values**. It is an **unordered** container

In [113]:
#key bersifat immutable
tel = {'emmanuelle': 5752, 'sebastian': 5578}

In [114]:
tel

{'emmanuelle': 5752, 'sebastian': 5578}

In [115]:
tel['emmanuelle']

5752

In [116]:
tel['francis']

KeyError: 'francis'

In [117]:
#value bisa diubah
tel['francis'] = 5919

In [118]:
tel

{'emmanuelle': 5752, 'sebastian': 5578, 'francis': 5919}

In [119]:
tel.keys()

dict_keys(['emmanuelle', 'sebastian', 'francis'])

In [120]:
tel.values()

dict_values([5752, 5578, 5919])

In [121]:
tel.items()

dict_items([('emmanuelle', 5752), ('sebastian', 5578), ('francis', 5919)])

In [122]:
'francis' in tel

True

It can be used to conveniently store and retrieve values
associated with a name (a string for a date, a name, etc.). See
https://docs.python.org/tutorial/datastructures.html#dictionaries
for more information.

NB: A dictionary can have keys (resp. values) with different types:

In [123]:
tel.__iter__(tel.keys)

TypeError: expected 0 arguments, got 1

In [124]:
x = list(tel.items())
x

[('emmanuelle', 5752), ('sebastian', 5578), ('francis', 5919)]

In [125]:
x[0]

('emmanuelle', 5752)

In [126]:
#mixing the type of the key

tel[100] = [500,515]

In [127]:
tel

{'emmanuelle': 5752, 'sebastian': 5578, 'francis': 5919, 100: [500, 515]}

In [128]:
d = {'a':1, 'b':2, 3: 'asdf'}
d

{'a': 1, 'b': 2, 3: 'asdf'}

In [129]:
del d['a']

In [130]:
tel = {'emanuelle': 5752, 'sebastian' : 5578, 'francis' : 1234}

In [131]:
tel

{'emanuelle': 5752, 'sebastian': 5578, 'francis': 1234}

In [132]:
#swapping the value
tmp = tel['emmanuelle']
tel['emmanuelle'] = tel ['sebastian']
tel ['sebastian']=tmp
# sama dengan kode di bawah

KeyError: 'emmanuelle'

In [133]:
tel['emanuelle'], tel['sebastian'] = tel['sebastian'], tel['emanuelle']

In [134]:
tel

{'emanuelle': 5578, 'sebastian': 5752, 'francis': 1234}

## 2.5 Sets

A set contain is an unordered container, containing unique elements

In [135]:
#creating set from string 
s = 'truc truc bidule truc'
set(s)

{' ', 'b', 'c', 'd', 'e', 'i', 'l', 'r', 't', 'u'}

In [136]:
len(set(s))

10

In [137]:
set([1, 5, 2, 1, 1]).union(set([1, 2, 3]))

{1, 2, 3, 5}

In [138]:
{1,1,2,2}

{1, 2}

In [139]:
x = {1, 5, 2, 1, 1}
x

{1, 2, 5}

In [140]:
y = {1,2,3}
y

{1, 2, 3}

In [141]:
x.union(y)

{1, 2, 3, 5}

You can use together all types together

In [142]:
dd = {'truc': [1, 2, 3], 
      5: (1, 4, 2),
      (1, 3): set(['hello', 'world'])}

In [143]:
dd

{'truc': [1, 2, 3], 5: (1, 4, 2), (1, 3): {'hello', 'world'}}

NB: any immutable type can be used as a key in a dict (such as a tuple)

In [144]:
dd[[2, 3]] = 4

TypeError: unhashable type: 'list'

## 2.6. Assigment

Assigment operator `=` in python does not do a copy. 
It actually works as name binding (when object are mutable).

In [145]:
l1 = [4, 1, 3, 2, 2, 2]

In [146]:
l2 = l1

In [147]:
l1[0] = 123
# nilai l2 juga akan berubah

In [148]:
l2

[123, 1, 3, 2, 2, 2]

In [149]:
l2 = l1.copy()

In [150]:
l1[0] = -1

In [151]:
l2

[123, 1, 3, 2, 2, 2]

In [152]:
l1.append(5)
l1

[-1, 1, 3, 2, 2, 2, 5]

In [153]:
l1.pop()

5

In [154]:
l1.insert(1, 0)

In [155]:
l1

[-1, 0, 1, 3, 2, 2, 2]

# 3. Control Flow

Test, loops, etc.

In [156]:
if 2 ** 2 == 4:
    print('Obvious')
elif 0 == 0:
    print('yeh')
else:
    print('something')
print('YES')

Obvious
YES

## 3.1. Blocks are delimited by indentation!

In [157]:
a = 2
if a == 1:
    print(2)
elif a == 2:
    print(1\
          )    
else:
    print(a)

1

## 3.2. for/range

Iteration with an index, with a list, with many things !

In [158]:
x = [1,2,3,4]
for idx in range(len(x)):
    print(x[idx])

1
2
3
4

In [159]:
range(len(x))

range(0, 4)

In [160]:
list(range(len(x)))

[0, 1, 2, 3]

In [161]:
for elt in x:
    print(elt)

1
2
3
4

In [162]:
for xx in enumerate(x):
    print(xx)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [163]:
for idx, xx in enumerate(x):
    print(xx)
    print('My index is {} and my elemnt is {}'.format(idx,elt))

1
My index is 0 and my elemnt is 4
2
My index is 1 and my elemnt is 4
3
My index is 2 and my elemnt is 4
4
My index is 3 and my elemnt is 4

In [164]:
#range(stop)

for i in range(4):
    print(i + 1)
print('-')
for i in range(1, 5):
    print(i)
print('-')
for i in range(1, 10, 3):
    print(i)

1
2
3
4
-
1
2
3
4
-
1
4
7

In [165]:
list(range(10,15,2))

[10, 12, 14]

In [166]:
s

'truc truc bidule truc'

In [167]:
s.split(" ")

['truc', 'truc', 'bidule', 'truc']

In [168]:
for c in s.split(" "):
    print(c)

truc
truc
bidule
truc

In [169]:
for word in ['green', 'blue', 'yellow']:
    print('best color is', word)

best color is green
best color is blue
best color is yellow

## 3.3. List Comprehensions

In [170]:
range(10)

range(0, 10)

In [171]:
X =[]
for  i in range(10):
    X.append(i ** 2)
X

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [172]:
#bentuk listcomprehension dari kode di atas
X = [i ** 2 for i in range(10)]
X

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [173]:
X =[]
for  i in range(10):
    if i % 2:
        X.append(i ** 2)
X

[1, 9, 25, 49, 81]

In [174]:
#bentuk listcomprehension dari kode di atas
X = [i ** 2 for i in range(10) if i % 2]
X

[1, 9, 25, 49, 81]

In [175]:
#bentuk listcomprehension dari kode di atas
X = [i ** 2 
     for i in range(10) 
     if i % 2]
X

[1, 9, 25, 49, 81]

In [176]:
def func(i):
    return i** 2 + 10

In [177]:
#listcompre
X=[func(i) for i in range(10) if i % 2]
X

[11, 19, 35, 59, 91]

In [178]:
#set comprehension
X={func(i) for i in range(10) if i % 2}
X

{11, 19, 35, 59, 91}

In [179]:
#tuple comprehension
X=tuple(func(i) for i in range(10) if i % 2)
X

(11, 19, 35, 59, 91)

In [180]:
[i ** 2 for i in range(6)]

[0, 1, 4, 9, 16, 25]

In [181]:
[2 ** i for i in range(9)]

[1, 2, 4, 8, 16, 32, 64, 128, 256]

In [182]:
# dictcomprehension

X={key:value
  for key,value in zip(('Jan','Feb','Mar'),(1,2,3))}
X

{'Jan': 1, 'Feb': 2, 'Mar': 3}

## 3.4 While

In [183]:
a = 10
b = 1
while b < a:
    b = b + 1
    print(b)

2
3
4
5
6
7
8
9
10

Compute the decimals of Pi using the Wallis formula:
$$
\pi = 2 \prod_{i=1}^{100} \frac{4i^2}{4i^2 - 1}
$$

In [184]:
pi = 2
eps = 1e-10
dif = 2 * eps
i = 1
while(dif > eps):
    old_pi = pi
    pi *= 4 * i ** 2 / (4 * i ** 2 - 1)
    dif = pi - old_pi
    i += 1

In [185]:
pi

3.1415837914137876

## 3.4 zip / dict comprehension / itertools / enumerate

In [186]:
s = "salut tintin"

{i: c for i, c in enumerate(s)}

{0: 's',
 1: 'a',
 2: 'l',
 3: 'u',
 4: 't',
 5: ' ',
 6: 't',
 7: 'i',
 8: 'n',
 9: 't',
 10: 'i',
 11: 'n'}

In [187]:
enumerate(s)

In [188]:
dict(enumerate(s))

{0: 's',
 1: 'a',
 2: 'l',
 3: 'u',
 4: 't',
 5: ' ',
 6: 't',
 7: 'i',
 8: 'n',
 9: 't',
 10: 'i',
 11: 'n'}

In [189]:
s1 = 'machinee'; s2 = 'magiques'
zip(s1, s2)

In [190]:
list(zip(s1, s2))

[('m', 'm'),
 ('a', 'a'),
 ('c', 'g'),
 ('h', 'i'),
 ('i', 'q'),
 ('n', 'u'),
 ('e', 'e'),
 ('e', 's')]

In [191]:
dict(zip(s1, s2))

{'m': 'm', 'a': 'a', 'c': 'g', 'h': 'i', 'i': 'q', 'n': 'u', 'e': 's'}

In [192]:
from itertools import product
x = [1,2,3]
y=[4,5,6]

In [193]:
list(product(x,y))

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

# 4. Defining functions

## 4.1. Function definition

Warning: Function blocks must be indented as other control-flow blocks.

In [194]:
def test():
    print('in test function')

In [195]:
test()

in test function

## 4.2. Return statement

Functions can *optionally* return values.
Note: By default, functions return ``None``.

The syntax to define a function:

    * the ``def`` keyword;

    * is followed by the function's **name**, then

    * the arguments of the function are given between parentheses followed
      by a colon.

    * the function body;

    * and ``return object`` for optionally returning values.

In [196]:
def f(x):
    return x + 10
f(20)

30

A function that returns several elements return a `tuple`

In [197]:
def f():
    return 1, 4

f()

(1, 4)

In [198]:
type(f())

tuple

## 4.3. Parameters

Mandatory parameters (positional arguments)

keyword parameters ??

In [199]:
def double_it(x, y=0):
    return x * 2 + y

# x = mandatory
# y = keyword
double_it(3)

6

In [200]:
double_it(3, y =10)

16

In [201]:
double_it()

TypeError: double_it() missing 1 required positional argument: 'x'

In [202]:
def double_it(x = 2):
    return x * 2

double_it()

4

In [203]:
double_it(3)

6

In [204]:
def f(x, y=2, * , z=10):
    print(x, '+', y, '+', z, '=', 
          x + y + z)

In [205]:
f(5, 3, 7)

TypeError: f() takes from 1 to 2 positional arguments but 3 were given

In [206]:
f(2)

2 + 2 + 10 = 14

In [207]:
f(5, -2)

5 + -2 + 10 = 13

In [208]:
f(5, z = -2)

5 + 2 + -2 = 5

In [209]:
f(5, z = -2, y = 3)

5 + 3 + -2 = 6

In [210]:
dd = {'y': 10, 'z': -5}

In [211]:
f(3, **dd)

3 + 10 + -5 = 8

Prototype of all Python's functions is

In [212]:
def f(*args, **kwargs):
    print('args=', args)
    print('kwargs=', kwargs)

In [213]:
f(1, 3)

args= (1, 3)
kwargs= {}

In [214]:
f(3, -2, y='truc')

args= (3, -2)
kwargs= {'y': 'truc'}

# 5. Object-oriented programming (OOP)

Python supports object-oriented programming (OOP). The goals of OOP are:

- to organize the code, and
- to re-use code in similar contexts.

Here is a small example: we create a `Student` class, which is an object
gathering several custom functions (called *methods*) and variables 
(called *attributes*).

In [215]:
s = 'truc'

In [216]:
s.title()

'Truc'

In [217]:

#class Student(object):
class Student():
# seperti constructor di Java :)
#initialization
    def __init__(self, name, age, major='computer science'):
        self.name = name
        self.age = age
        self.major = major

    def to_string(self):
        return '{},{},{}'.format(self.name, self.age, self.major)
        #return str.join(', ', [attr + '=' + str(getattr(self, attr)) \
         #           for attr in ['name', 'age', 'major']])
    
    def show(self):
        print(self.to_string())

anna = Student('anna', 23)
anna.show()

anna,23,computer science

**Inheritance**: MasterStudent is a Student with extra mandatory `Internship` attribute

In [218]:

class MasterStudent(Student):
# override constructor    
    def __init__(self, name, age, intership,
                 major='computer science'):
        Student.__init__(self, name, age, major)
        self.intership = intership

    def to_string(self):
        s = Student.to_string(self)
        return s + ',{}'.format(self.intership)
        #return str.join(', ', [s, 'intership=' + self.intership])

In [219]:
djalil = MasterStudent('djalil', 22, 'pwc')

In [220]:
djalil.show()

djalil,22,computer science,pwc